.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; /* Ширина 100% от ширины видимой области браузера */
  position: fixed; /* Фиксированное положение для всегда видимости */
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
}
